<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="MSBuild-Artifactory" value="http://localhost:8080/artifactory/api/nuget/nuget-virtual" />
  </packageSources>
  <packageSourceCredentials>
    <MSBuild-Artifactory>
      <add key="Username" value="admin" />
      <add key="ClearTextPassword" value="password" />
    </MSBuild-Artifactory>
  </packageSourceCredentials>
</configuration>