.gradle
*.ipr
*.iws
*.iml
atlassian*.xml
maven-example/target
maven-example/*/target
gradle-example/build
gradle-example/*/build
gradle-example/*/*/build
_ReSharper*
bin
obj
*.suo
*.user
packages
*.tmp
.idea
*.DS_Store